<%
const conf = {
    title : 'contents No1',
    description : ''
};
%>

<% include ../_head.ejs %>

<div>
    <h1>contents 1</h1>
    <img src="../../assets/img_about.png">
</div>

<% include ../_foot.ejs %>
