<div id="sec5" class="section">
    <div class="title_bg title_bg-5"></div>
    <div class="inner">
        <div class="title title-5">
            <img src="<%=conf.rel%>/assets/common/main_tit_05.png">
        </div>
        <div class="big_image .prev" id="prev">

        </div>
        <div class="thumb_wrapper">
            <div class="thumb_box">
                <div class="thumb_item">26</div>
                <div class="thumb_item">27</div>
                <div class="thumb_item">28</div>
                <div class="thumb_item">29</div>
                <div class="thumb_item">30</div>
                <div class="thumb_item">1</div>
                <div class="thumb_item">2</div>
                <div class="thumb_item">3</div>
                <div class="thumb_item">4</div>
                <div class="thumb_item">5</div>
                <div class="thumb_item">6</div>
            </div>
            <div class="thumb_selector"></div>
        </div>
    </div>
</div>