.title_bg-5 {
    right: -30%;
    background: url("/assets/common/main_tit_bg_05.png");
    @media (--sp) {
        right: -50%;
    }
}
#sec5 {
    position: relative;
    z-index: 9;
}
.title-5 {
    margin-left: 50%;
    top: 10px;
    position: relative;
    z-index: 2;
    @media (--sp) {
        margin-left: 0;
    }
}
.big_image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #888;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    &_inner {
        width: 100%;
        padding-top: 72%;
        position: relative;
    }
    &_item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.4s ease-in-out;
        &.show {
            opacity: 1;
        }
    }
    img {
        background-color: var(--gray);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (--sp) {
        width: 100%;
        margin-top: 20px;
    }
}
.slide_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    cursor: pointer;
    @media (--sp) {
        transform: none;
        top: 108%;
        width: 30px;
    }
    &-left {
        right: 107%;
        @media (--sp) {
            right: auto;
            left: 0;
        }
    }
    &-right {
        left: 107%;
        @media (--sp) {
            right: 0;
            left: auto;
        }
    }
    &:hover {
        .on {
            opacity: 1;
        }
        .off {
            opacity: 0;
        }
    }
    .on {
        opacity: 0;
    }
    img {
        transition: opacity 0.4s;
        transform: translateZ(0);
        width: 100%;
        vertical-align: top;
    }
}
.thumb {
    &_wrapper {
        width: 80%;
        position: relative;
        overflow: hidden;
        padding-top: 6.8%;
        margin: 20px auto 10vw;
        @media (--sp) {
            display: none;
        }
    }
    &_box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_item {
        width: 9.5%;
        background-color: darkslategrey;
        cursor: pointer;
    }
    &_selector {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 9.5%;
        height: 4px;
        background-color: var(--blue);
        transform: translateX(-50%);
    }
    &_number {
        display: none;
        span {
            font-weight: bold;
        }
        .number-blue {
            color: var(--blue);
            font-size: 20px;
        }
        .number-gray {
            color: var(--grayText);
            margin-left: 5px;
        }
        @media (--sp) {
            display: block;
        }
    }
}
