{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "browser": true
  },
  "rules": {
    "no-param-reassign": "off", // 同じ関数内で戻り値を返すreturnと返さないreturnがあったら怒る 無効化 serverで困る

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }]
  }
}
