{
  "extends": ["framelunch"],
  "rules": {
    // 未使用変数 警告 ただし、先頭に_のついている変数、引数はOKとする
    "no-unused-vars": ["warn", {
      "caughtErrors": "all",
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }],
    // thisを参照しないクラスメソッドはstaticでなければいけない 無効化 オブジェクト指向ってそういうもんではないと思う
    "class-methods-use-this": "off"
  }
}
