<div id="sec1" class="section">
    <div class="title_bg title_bg-1"></div>
    <div class="inner">
        <div class="title title-1 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_01.png">
        </div>
        <div class="section-1_image anim anim-delay hide">
            <img src="<%=conf.rel%>/assets/image/img_01.jpg">
        </div>
        <div class="text_box text_box-1">
            <h3 class="h3">
                石亀工業の思い
            </h3>
            <p class="p mb10">
                株式会社石亀工業は愛知県安城市にある<br>
                生産設備設計・製作・施工を行う会社です。昭和44年から操業を開始し、時代の進化を追いながら、「ものづくり」の基本を忠実に守り、進み続けてまいりました。<br>
                石亀工業は今までも、そしてこれからもあらゆる繋がりを大切にし、基本理念を行動の指針とし、皆様から信頼され、期待される企業であり続けます。<br>
            </p>
            <h3 class="h3">
                石亀工業の「IGM」
            </h3>
            <div class="bottom_box">
                <p class="p">
                    「IGM」とは<br>
                    「I」… Innovative(革新的な)<br>
                    「G」… Global (世界へ羽ばたく)<br>
                    「M」… Machinery(設備を作る会社)<br><br>
                    の頭文字をとった略称です。<br>
                    石亀工業は「IGM」の精神でこれからも、社会や世の中に貢献してまいります。
                </p>
                <div class="image">
                    <img src="<%=conf.rel%>/assets/image/img_04.jpg">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="section-1_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_01.png">
        </div>
    </div>
</div>
