<div id="sec1" class="section">
    <div class="title_bg title_bg-1"></div>
    <div class="inner">
        <div class="title title-1 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_01.png">
        </div>
        <div class="section-1_image anim anim-delay hide">
            <img src="<%=conf.rel%>/assets/image/img_01.jpg">
        </div>
        <div class="text_box text_box-1">
            <h3 class="h3">
                石亀工業の品質
            </h3>
            <p class="p">
                株式会社石亀工業は愛知県安城市にある<br>
                生産設備設計・製作・設計・加工を行う会社です。<br>
                以下会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。<br>
                会社説明欄が入ります。会社説明欄が入ります。会社説明欄が入ります。<br>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="section-1_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_01.png">
        </div>
    </div>
</div>