<div id="sec3" class="section">
    <div class="title_bg title_bg-3"></div>
    <div class="inner">
        <div class="title title-3">
            <img src="<%=conf.rel%>/assets/common/main_tit_03.png">
        </div>
        <div class="section-3_image">
            <img src="<%=conf.rel%>/assets/image/img_02.jpg">
        </div>
        <div class="text_box text_box-3">
            <h3 class="h2 section-3_h2">
                柔軟な発想と<br>
                時代を読み取る確かな目が<br>
                いつもと違う明日を追いかける
            </h3>
            <p class="p">
                石亀は時代を見つめ変化していく企業です。<br>
                以下代表メッセージが入ります。以下代表メッセージが入ります。以下代表メッセージが入ります。
                以下代表メッセージが入ります。以下代表メッセージが入ります。以下代表メッセージが入ります
            </p>
            <div class="sign_box">
                <div class="sign h3">
                    代表取締役　神谷 英之
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="section-3_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_02.png">
        </div>
    </div>
</div>