<div id="sec3" class="section">
    <div class="title_bg title_bg-3"></div>
    <div class="inner">
        <div class="title title-3 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_03.png">
        </div>
        <div class="section-3_image anim anim-delay hide">
            <img src="<%=conf.rel%>/assets/image/img_02.jpg">
        </div>
        <div class="text_box text_box-3">
            <h2 class="h2 section-3_h2">
                自ら考え、信念をもってやり抜く。<br>
                次の50年、100年企業を目指して。
            </h2>
            <p class="p">
                わたくし達を取り巻く自動車産業界は、大転換期を迎えており、それに関わる生産設備も新たな技術技能の導入や新分野への挑戦、開発が要求されています。<br>
                それに加え、新型コロナウイルス感染拡大が世界に衝撃を与えました。いまだ感染者が増え続け、コロナウイルスと人類の闘いは長期化を覚悟せざるを得ない状況です。<br>
                設立から40年を迎えた石亀工業は、この荒波を全社員一丸となって乗り越えていきたいと思います。<br>
                2021年企業としての行動目標は「守破離」。これまで培ってきた企業風土を大切にすると共に、匠の技術技能の伝承と自ら考え信念をもってやり抜く社員を育成、そして、地域社会により貢献できる企業に発展成長させて参ります。<br>
                次の50年、100年企業を目指し、「コロナを受け元に戻ろうとする会社」でなく、「コロナを受け挑戦・進化しようとする会社」でありたいと思います。
            </p>
            <div class="sign_box">
                <div class="sign h3">
                    代表取締役社長 <span>神谷 英之</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="section-3_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_02.png">
        </div>
    </div>
</div>
