<div id="sec3" class="section">
    <div class="title_bg title_bg-3"></div>
    <div class="inner">
        <div class="title title-3 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_03.png">
        </div>
        <div class="section-3_image anim anim-delay hide">
            <img src="<%=conf.rel%>/assets/image/img_02.jpg">
        </div>
        <div class="text_box text_box-3">
            <h2 class="h2 section-3_h2">
                次の時代を見据えながら<br>
                新たな革新(イノベーション)を<br>
                引き起こす。
            </h2>
            <p class="p">
                私は先代から継いで2代目の社長となりますが、その抜擢も異例づくしでした。<br>
                今世の中は、とにかく激動の中にいます。<br>
                新しいものがどんどん生まれ、そして消えていく。そのスピードも日に日に早くなっています。<br>
                私たちのようなものづくりの人間は、常にアンテナを立て、新しい時代の波に飲まれないように舵をとっていく必要があります。<br>
                石亀工業は2017年1月に新工場、そして2017年8月に事務所棟が完成いたしました。<br>
                生まれ変わった「新生・石亀丸」でその時代の荒波を乗り越えられるよう、毎日必死に舵取りをしている最中です。<br>
                道中には多くの困難が待ち受けているでしょうが、石亀工業は次の時代を見据えながら、スタッフと共にこれからも邁進してまいります。
            </p>
            <div class="sign_box">
                <div class="sign h3">
                    代表取締役社長 <span>神谷 英之</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="section-3_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_02.png">
        </div>
    </div>
</div>
