<div id="sec3" class="section">
    <div class="title_bg title_bg-3"></div>
    <div class="inner">
        <div class="title title-3 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_03.png">
        </div>
        <div class="section-3_image anim anim-delay hide">
            <img src="<%=conf.rel%>/assets/image/img_02.jpg">
        </div>
        <div class="text_box text_box-3">
            <h2 class="h2 section-3_h2">
                次の時代を見据えながら<br>
                新たな革新(イノベーション)を<br>
                引き起こす。
            </h2>
            <p class="p">
                私は先代から継いで2代目の社長となります。わたくし達を取り巻く自動車産業界は、大転換期を迎えており、それに関わる生産設備も新たな技術技能の導入や新分野への挑戦や開発が要求されています。<br>
                新しいものがどんどん生まれ、そして消えていく時代で、そのスピードも日に日に早くなっています。私たちのようなものづくり企業は、常にアンテナを立て、新しい時代の波を先取りした舵をとっていく必要があります。<br>
                石亀工業は2017年1月に新工場を建設し「新生・石亀丸」として、新たな時代に向かった新たな船出をしました。これまでの「企業風土」を大切に継承し、匠の技術継承の伝承と新たな挑戦を社員全員で取り組んで更にお客様の信頼と信用を高めていきます。そして地域社会により貢献できる企業に発展成長させて参ります。
            </p>
            <div class="sign_box">
                <div class="sign h3">
                    代表取締役社長 <span>神谷 英之</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="section-3_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_02.png">
        </div>
    </div>
</div>
