<div id="sec6" class="section">
    <div class="title_bg title_bg-6"></div>
    <div class="inner">
        <div class="title title-6 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_06.png">
        </div>
        <div class="section-6_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_03.png">
        </div>
        <div class="access_box">
            <div class="access_text">
                <table class="table p">
                    <tr>
                        <th>会社名</th>
                        <td>株式会社 石亀工業</td>
                    </tr>
                    <tr>
                        <th>所在地</th>
                        <td>本社：〒466-0053 　愛知県安城市高田棚町石亀88番地<br>
                            工場：〒466-0053 　愛知県安城市高田棚町石亀88番地</td>
                    </tr>
                    <tr>
                        <th>連絡先</th>
                        <td>TEL : ( 0566 ) 75 - 7301<br>
                            FAX : ( 0566 ) 75 - 5335</td>
                    </tr>
                    <tr>
                        <th>創立</th>
                        <td>昭和44年6月8日</td>
                    </tr>
                    <tr>
                        <th>代表者</th>
                        <td>神谷 英之</td>
                    </tr>
                    <tr>
                        <th>資本金</th>
                        <td>9,900万円</td>
                    </tr>
                    <tr>
                        <th>従業員数</th>
                        <td>30名</td>
                    </tr>
                    <tr>
                        <th>事業内容</th>
                        <td>生産設備設計・製作・施工・販売</td>
                    </tr>
                </table>
            </div>
            <div class="access_map">
                <div id="map1" class="map"></div>
                <div id="map2" class="map"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>