.title_bg-6 {
    right: 10%;
    margin-top: 10%;
    background: url("/assets/common/main_tit_bg_06.png");
    @media (--sp) {
        margin-top: 0;
        right: -50%;
    }
}
.title-6 {
    margin-left: 25%;
    @media (--sp) {
        margin-left: 0;
    }
}
.section-6_bg {
    position: absolute;
    top: -35%;
    right: 70%;
    width: 65%;
    padding-top: 10%;
    z-index: -11;
    @media (--sp) {
        display: none;
    }
}
.access {
    &_box {
        float: right;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        margin-top: 4%;
        margin-bottom: 5vw;
        @media (--tb) {
            width: 100%;
        }
    }
    &_text {
        width: 48%;
        margin-top: 4%;
        @media (--sp) {
            margin-top: 5%;
            width: 100%;
        }
    }
    &_image {
        width: 40%;
        margin-left: 4%;
        @media (--sp) {
            margin-top: 4%;
            width: 100%;
            margin-left: 0;
        }
        &_item {
            position: relative;
            width: 100%;
            & + & {
                margin-top: 40px;
            }
            &_caption {
                height: 10px;
                float: right;
                line-height: 0;
                margin-top: 8px;
                img {
                    width: inherit;
                    height: 100%;
                }
            }

            &_link {
                float: left;
                background-color: var(--blue);
                width: 100px;
                margin-top: 8px;
                padding: 7px 10px;
                line-height: 0;
                display: block;
                transition: opacity 0.4s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
.table {
    width: 100%;
    tr {
        vertical-align: top;
    }
    th {
        font-weight: bold;
        text-align: left;
        color: var(--blue);
        padding-right: 20px;
        white-space: nowrap;
    }
    td {
        padding-bottom: 20px;
    }
}
.clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}
