<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>
<% include ../modules/header/header.ejs %>

<main id="main" class="main" role="main">
    <h2>Main header</h2>
    <img id="test-img" src="/assets/img_about.png">
</main>

<% include ../modules/footer/footer.ejs %>
<% include _foot.ejs %>
