<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>
<% include ../modules/header/header.ejs %>

<div>
    <h1>main page aaaa</h1>
    <img id="test-img" src="/assets/img_about.png">
</div>

<div id="app"></div>

<% include ../modules/footer/footer.ejs %>
<% include _foot.ejs %>
