<div id="sec0" class="section section-zero">
    <div class="inner">
        <div class="logo">
            <img id="mainImage" src="<%=conf.rel%>/assets/common/ishigame_logo.png">
        </div>
    </div>
    <div class="main_text">
        時代を担い、次代へつなげる。<br>
        それが石亀クオリティ。
    </div>
    <div class="scroll_box">
        <div class="scroll">
            <img src="<%=conf.rel%>/assets/common/scroll.svg">
        </div>
    </div>
</div>