.title_bg-7 {
    right: -30%;
    background: url("/assets/common/main_tit_bg_07.png");
    @media (--sp) {
        margin-top: -5%;
        right: -50%;
    }
}
.title-7 {
    margin-left: 15%;
    @media (--sp) {
        margin-left: 0;
    }
}
.recruit {
    &_box {
        background-color: #fff;
        padding: 5%;
        margin-top: 5%;
        position: relative;
    }
    &_title {
        position: absolute;
        top: -20px;
        left: 20px;
        width: 17%;

        @media (--sp) {
            width: 28%;
            left: 5%;
        }
    }
    &_text {
        float: right;
        width: 50%;

        @media (--sp) {
            width: 100%;
            padding-top: 8%;
        }

        .h2 {
            line-height: 1.5;
        }

        .p {
            margin-top: 5%;
        }
    }
    &_image {
        float: left;
        width: 45%;

        @media (--sp) {
            width: 100%;
            margin-top: 5%;
        }
    }
}
.contact {
    &_container {
        background-color: var(--gray);
        padding: 80px 0 50px;
        margin-top: -10px;
    }
    &_box {
        background-color: #fff;
        padding: 5%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    &_row {
        width: 45%;
        display: flex;
        flex-direction: column;
        @media (--sp) {
            width: 100%;
        }
    }
    &_full {
        width: 100%;
    }
    &_input {
        background-color: var(--gray);
        width: 100%;
        padding: 18px;
        margin-top: 10px;
        box-sizing: border-box;
        border: 1px solid var(--gray);
        -webkit-appearance: none;
        border-radius: 0;
        &.alert {
            border: 1px solid var(--blue);
        }
        @media (--sp) {
            padding: 10px;
        }
    }
    &_form {
        & + & {
            margin-top: 20px;
        }
    }
    &_textarea {
        height: 100%;
        resize: none;
        flex-grow: 1;
        &_holder {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        @media (--sp) {
            height: 100px;
        }
    }
    &_button {
        margin: 6% auto 0;
        width: 25%;
        padding: 25px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        background-color: var(--blue);
        transition: 0.4s ease-in-out;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        @media (--sp) {
            padding: 10px 0;
            width: 50%;
        }
    }
    &_select {
        line-height: 1;
        position: relative;
        cursor: pointer;
        &.show {
            .contact_select_box {
                height: auto;
                opacity: 1;
                top: 100%;
            }
        }
        &:after {
            content: '▼';
            position: absolute;
            top: 18px;
            right: 18px;
            color: var(--blue);
            @media (--sp) {
                top: 10px;
                right: 10px;
            }
        }
        &_box {
            position: absolute;
            top: 90%;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #fff;
            border: 4px solid var(--gray);
            overflow: hidden;
            opacity: 0;
            transition: 0.4s ease-in-out;
        }
        &_option {
            padding: 18px;
            transition: 0.4s ease-in-out;
            background-color: #fff;
            cursor: pointer;
            &:hover {
                background-color: var(--gray);
            }
        }
    }
}
.confirm_table {
    th {
        text-align: right;
        padding: 10px;
        color: var(--grayText);
        @media (--sp) {
            width: 30%;
            vertical-align: top;
        }
    }
    td {
        padding: 10px;
    }
}
.confirm_button {
    width: 45%;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: var(--blue);
    transition: 0.4s ease-in-out;
    transform: translateZ(0);
    @media (--sp) {
        padding: 10px;
    }
    &-gray {
        color: var(--grayText);
        background-color: var(--gray);
    }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    &_container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 5% auto 0;

        &.is-center {
            margin-top: 20%;
            justify-content: center;
        }
    }
}
.contact_box_alert {
    color: var(--blue);
    margin-bottom: 4%;
    text-align: center;
    font-weight: bold;
    @media (--sp) {
        text-align: left;
        font-size: 10px;
    }
}
