<div id="sec7" class="section">
    <div class="title_bg title_bg-7"></div>
    <div class="inner">
        <div class="title title-7">
            <img src="<%=conf.rel%>/assets/common/main_tit_07.png">
        </div>
    </div>
    <div class="contact_box"></div>
</div>