<div id="sec2" class="section">
    <div class="title_bg title_bg-2"></div>
    <div class="inner">
        <div class="title title-2 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_02.png">
        </div>
        <h2 class="h2 section-2_h2 anim anim-delay hide">
            社員の雇用を守り、<br class="is-sp">地域社会に貢献する
        </h2>
        <div class="flex_text">
            <div class="flex_text_item anim hide">
                <h3 class="h3">
                    魅力ある製品で、お客様に満足を提供する
                </h3>
                <p class="p">
                    石亀工業の製品は、家族と同じです。<br>
                    こちらにはポリシーについての説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。
                </p>
            </div>
            <div class="flex_text_item anim anim-delay hide">
                <h3 class="h3">
                    個性を尊重し 活力ある企業をつくる
                </h3>
                <p class="p">
                    石亀が成り立つのは「人」です。<br>
                    こちらにはポリシーについての説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。
                </p>
            </div>
            <div class="flex_text_item anim anim-delay1 hide">
                <h3 class="h3">
                    自然を大切にし社会と共生する
                </h3>
                <p class="p">
                    自然と人が大好きです。<br>
                    こちらにはポリシーについての説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。
                </p>
            </div>
        </div>
    </div>
</div>