<div id="sec2" class="section">
    <div class="title_bg title_bg-2"></div>
    <div class="inner">
        <div class="title title-2 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_02.png">
        </div>
        <h2 class="h2 section-2_h2 anim anim-delay hide">
            社員の雇用を守り、<br class="is-sp">地域社会に貢献する
        </h2>
        <div class="flex_text">
            <div class="flex_text_item anim hide">
                <h3 class="h3">
                    魅力ある製品で、お客様に満足を提供する
                </h3>
                <p class="p">
                    組み上げられる製品は、ひとつとして同じものはなくまさに「一品一様」です、常にお客様に満足いただけるものを意識することで、確かな品質の製品を作り続けています。
                </p>
            </div>
            <div class="flex_text_item anim anim-delay hide">
                <h3 class="h3">
                    個性を尊重し 活力ある企業をつくる
                </h3>
                <p class="p">
                    石亀工業のスタッフには昔ながらの「職人気質」があります。ものづくりに対して高いこだわりを持ち、確かな技術をもっているスタッフたちのおかげで、石亀工業の品質は保たれています。
                </p>
            </div>
            <div class="flex_text_item anim anim-delay1 hide">
                <h3 class="h3">
                    自然を大切にし社会と共生する
                </h3>
                <p class="p">
                    石亀工業は地元安城市を中心に地域社会の取り組みに貢献をし、地元が活性化するような社会作りを常に心がけています。
                </p>
            </div>
        </div>
    </div>
</div>
