.top_arrow {
    width: 35px;
    margin: 20px auto;
}
.footer {
    background-color: var(--gray);
    padding: 25px 0 50px;
    box-sizing: border-box;
    position: relative;
    @media (--sp) {
        padding-top: 25%;
    }
    &_list {
        display: flex;
        width: 54%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        justify-content: space-between;
        &_item {
            height: 10px;
            @media (--tb) {
                height: 8px;
            }
            @media (--sp) {
                width: 45%;
                height: 14px;
                margin-bottom: 30px;
            }
            @media (--sp-mini) {
                height: 12px;
            }
            img {
                vertical-align: top;
                width: auto;
                height: 100%;
            }
        }
        @media (--tb) {
            width: 70%;
        }
        @media (--sp) {
            width: 88%;
            flex-wrap: wrap;
            margin-bottom: 20px;
            justify-content: space-between;
        }
    }
    &_logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 10%;
        img {
            vertical-align: top;
        }
        @media (--tb) {
            top: 22px;
        }
        @media (--sp) {
            width: 30%;
            top: 40px;
        }
    }
    &-iso {
        position: absolute;
        top: 60px;
        left: 20px;
        width: 100px;
        @media (--sp) {
            top: 20px;
            left: 54%;
            width: 20%;
        }
    }
    &-logo1 {
        position: absolute;
        top: 60px;
        left: 130px;
        width: 86px;
        @media (--sp) {
            top: 20px;
            left: 76%;
            width: 17%;
        }
    }
    &-privacy {
        position: absolute;
        bottom: 50px;
        left: 230px;
        font-size: 12px;
        line-height: 25px;
        a {
            text-decoration: none;
            &:hover {
                color: var(--blue);
            }
        }
        @media (--sp) {
            left: 6%;
            bottom: 80px;
        }
    }
}
