<div class="load">
    <div class="load_content">
        <div class="load_progress_container">
            <div class="load_progress"></div>
        </div>
        <div class="load_text">
            <img src="<%=conf.rel%>/assets/common/loading.svg">
        </div>
    </div>
</div>
