<div class="modal_fixed" id="contactConfirm">
    <div class="modal_bg"></div>
    <div class="modal_content">
        <h2 class="h2 txt-center mb5">
            入力内容をご確認ください
        </h2>
        <table class="p confirm_table">
            <tr>
                <th>
                    会社名
                </th>
                <td>
                    <span id="confirmCompany"></span>
                </td>
            </tr>
            <tr>
                <th>
                    お名前
                </th>
                <td>
                    <span id="confirmName"></span>
                </td>
            </tr>
            <tr>
                <th>
                    メールアドレス
                </th>
                <td>
                    <span id="confirmMail"></span>
                </td>
            </tr>
            <tr>
                <th>
                    電話番号
                </th>
                <td>
                    <span id="confirmPhone"></span>
                </td>
            </tr>
            <tr>
                <th>
                    お問い合わせ内容
                </th>
                <td>
                    <span id="confirmMsg"></span>
                </td>
            </tr>
        </table>
        <div class="confirm_button_container">
            <div class="confirm_button confirm_button-gray modal_close">
                戻る
            </div>
            <div class="confirm_button" id="confirmSend">
                送信する
            </div>
        </div>
    </div>
</div>
<div class="modal_fixed" id="contactAlertError">
    <div class="modal_bg"></div>
    <div class="modal_content">
        <h2 class="h2 txt-center mb5">
            エラーが発生いたしました
        </h2>
        <div class="p txt-center">
            大変お手数ですが、再度お問い合わせフォームより<br>
            ご連絡いただきますようお願いいたします。
        </div>
        <div class="confirm_button_container is-center">
            <div class="confirm_button modal_close">
                閉じる
            </div>
        </div>
    </div>
</div>
<div class="modal_fixed" id="contactAlertDone">
    <div class="modal_bg"></div>
    <div class="modal_content">
        <h2 class="h2 txt-center mb5">
            送信完了いたしました
        </h2>
        <div class="p txt-center">
            この度はお問い合わせをいただき、誠にありがとうございます。<br><br>
            担当者より、あらためてご連絡させていただきますので、<br>
            今しばらくお待ちください。

        </div>
        <div class="confirm_button_container is-center">
            <div class="confirm_button modal_close">
                閉じる
            </div>
        </div>
    </div>
</div>
