<div class="modal_fixed">
    <div class="modal_bg"></div>
    <div class="modal_content">

    </div>
</div>
<div class="modal_fixed" id="contactConfirm">
    <div class="modal_bg"></div>
    <div class="modal_content">
        <h2 class="h2 txt-center mb5">
            お問い合わせ確認
        </h2>
        <table class="p confirm_table">
            <tr>
                <th>
                    会社名
                </th>
                <td>
                    <span id="confirmCompany"></span>
                </td>
            </tr>
            <tr>
                <th>
                    お名前
                </th>
                <td>
                    <span id="confirmName"></span>
                </td>
            </tr>
            <tr>
                <th>
                    メールアドレス
                </th>
                <td>
                    <span id="confirmMail"></span>
                </td>
            </tr>
            <tr>
                <th>
                    電話番号
                </th>
                <td>
                    <span id="confirmPhone"></span>
                </td>
            </tr>
            <tr>
                <th>
                    お問い合わせ内容
                </th>
                <td>
                    <span id="confirmMsg"></span>
                </td>
            </tr>
        </table>
        <div class="confirm_button_container">
            <div class="confirm_button confirm_button-gray modal_close">
                戻る
            </div>
            <div class="confirm_button" id="confirmSend">
                送信する
            </div>
        </div>
    </div>
</div>
<div class="modal_fixed" id="contactAlert">
    <div class="modal_bg"></div>
    <div class="modal_content">
        <div id="contactAlertContent">

        </div>
    </div>
</div>